@model N00695523cumulativePartOne.Models.Student

@{
    ViewBag.Title = "Show";
}

<div id="containershow">
    <h2>@Model.StudentId @Model.StudentFName @Model.StudentLName</h2>
    <h3>Student Number: @Model.StudentNumber</h3>
    <h3>Student Enrolment Date: @Model.EnrolDate</h3>
</div>

