@model N00695523cumulativePartOne.Models.Student

@{
    ViewBag.Title = "Update";
    @Styles.Render("~/Content/Site.css")
    <!--Call to the CSS we are using for this page.-->
    <script src="https://kit.fontawesome.com/6be63762e1.js" crossorigin="anonymous"></script>
    <!--Just to add some Icons-->
}

<div id="containershow">
    <nav>
        <a class="listOption" href="/Student/List"><i class="fas fa-school"></i> Back to Students List</a>
    </nav>
    <h2>Update Student</h2>
    <form method="POST" action="/Student/Update/@Model.StudentId">
        <div class="inputrow">
            <label for="StudentFname">First Name:</label>
            <input type="text" id="StudentFname" name="TeacherFname" value="@Model.StudentFName" />
        </div>
        <div class="inputrow">
            <label for="StudentLname">Last Name:</label>
            <input type="text" id="StudentLname" name="StudentLname" value="@Model.StudentLName" />
        </div>
        <div class="inputrow">
            <label for="StudentNumber">Student Number:</label>
            <input type="text" id="StudentNumber" name="StudentNumber" value="@Model.StudentNumber" />
        </div>
        <div class="inputrow">
            <label for="StudentEnrolDate">Enrolment Date:</label>
            <div>
                <input type="date" id="StudentEnrolDate" name="StudentEnrolDate" value="@Model.EnrolDate" />
            </div>
        </div>
        <div class="inputrow">
            <input type="submit" value="Update Student" />
        </div>
    </form>
</div>

