@model N00695523cumulativePartOne.Models.Teacher

@{
    ViewBag.Title = "Show";
}

<div id="containershow">
    <h2>@Model.TeacherId @Model.TeacherFullName</h2>
    <h3>Employee Number: @Model.EmployeeNumber</h3>
    <h3>Hire Date: @Model.HireDate</h3>
    <h3>Salary: @Model.Salary</h3>
</div>

